* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: white;
}

/* Style the header */
.header {
    height: 80px;
    background-color: #15171c;
    padding: 1rem;
    text-align: center;
    font-size: 25px;
}


/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
    padding: 10px;
    height: 100vh;
}

/* Left  */
.column.left {
    -webkit-flex: 0 1;
    -ms-flex: 0 1;
    flex: 0 1 auto;
    /* This is the shorthand for flex-grow, flex-shrink and
    flex-basis combined. The second and third parameters
    (flex-shrink and flex-basis) are optional. The default is 0 1 auto */
    background-color: #15171c;
    padding: 10px 10px 10px 0 !important;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

/*
Sidebar icons centering
 */
a.css-19qeahj:nth-child(even) > div:nth-child(1),
a.css-19qeahj:nth-child(odd) > div:nth-child(1),
#root > div.row > div.column.left > nav > a:nth-child(even) > div:nth-child(1),
#root > div.row > div.column.left > nav > a:nth-child(odd) > div:nth-child(1) {
    display: flex;
}

/*
Account balances
 */
.css-1x600hi {
    display: flex;
    font-size: 12px !important;
}

.column.left.hidden {
    display: none;
}

/* Middle column */
.column.middle {
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    padding: 0;
    background-color: #3a3434;
}

.column.middle.hidden {
    display: none;
}

.MuiCollapse-root,
.MuiDataGrid-root {
    display: flex;
    background-color: #3a3434;
    color: white !important;
}

.MuiTableCell-root {
    /*background-color: #3a3434;
    border-color: #3a3434 !important;*/
    padding: 0.5rem !important;
    color: #000000 !important;
}


/* To be done...
.column.right {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
*/


/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}*/

.home,
.category {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: start;
    font-size: 2rem;
    align-items: start;
}

.secondary-button {
    margin-left: 0 !important;
    margin-right: auto !important;
    /* padding-left: 1.5rem; */
    display: block;
}

.primary-button,
.login-select {
    margin-left: auto !important;
    margin-right: 0 !important;
    padding-right: 1.5rem;
    display: block;
    color: #f3f3f3;
    text-align: center;
}

.budgetingRow {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 500 !important;
    font-size: 0.8125rem !important;
    line-height: 1.75 !important;
    letter-spacing: 0.02857em !important;
    text-transform: uppercase !important;
}

.categoryRow {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.categoryBalance {
    font-size: medium;
    color: seagreen;
}

.categoryName {
    font-size: medium;
    color: #15171c;
}

.login-select {
    text-align-last: center;
    padding: 0 0 0 0;
}

.bank-button {
    justify-content: center;
    display: flex;
}

#bank-button-1 {
    padding: 6px 78px 10px 1px;
    text-transform: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

div > #bank-button-1 {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}


.login-button {
    /* margin-left: auto !important;*/
    margin-right: 0 !important;
    display: block;
}

.cancel-button {
    /* margin-left: auto !important;*/
    margin-right: 0 !important;
    display: block;
}

.custom-alert {
    left: 70%;
    transform: translate(-60%, -60%);
}

.delete-button {
    /* margin-left: auto !important;*/
    margin-right: 0 !important;
    display: block;
}

.TransactionGrid,
.AccountGrid {
    flex: 1 1 auto;
    height: auto;
}

.transaction,
.account {
    padding: 0;
    display: grid;
}

.transaction-selects {
    display: flex;
    flex: 1;
}

.transaction-account {
    flex: 1;
}

.transaction-category {
    flex: 0;
}

.AddTransaction {
    line-height: 22.75px;
    padding: 4px 5px 4px 5px;
}

.rdg-header-row {
    text-align: center;
}

/*Mui buttoneitten tyylit*/
.MuiButton-root {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 5px 15px;
    border-radius: 4px;
    color: #ee0000;
}

.MuiBox-root {
    display: flex;
    align-content: center;
}

/*Logged in user button style (tai mui select root*/
.MuiSelect-select {
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    border-radius: 4px;
    color: #1976d2;
    height: 14px !important;
    padding: 5px 15px;
    margin-bottom: 1rem;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    max-width: 150px !important;
    height: 40px;
}

.MuiOutlinedInput-input {
    color: #1976d2 !important;
    border: #ee0000 !important;
    border: 10px !important;
    border-radius: 4px !important;
}

.MuiOutlinedInput-notchedOutline {
    border-width: 1px !important;
    border-color: #1976d2 !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #1976d2 !important;
}


.MuiSelect-icon {
    display: none;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 10px !important;
}

.BudgetHeaderCell,
.BudgetCatHeaderCell,
.BudgetSubCategoryHeaderCell {
    background-color: #3a3434;
    color: #ffffff !important;
    width: 100px;
    max-width: 150px;
}

.BudgetSubCategoryCell {
    background-color: #3a3434;
    color: #ffffff;
    width: 100px;
    max-width: 150px;

}

.BudgetSubCategoryCell span {
    border-radius: 0.25em;
    color: white;
}

.budgetStyleWrapper {
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
    font-size: medium;
    
}

.BudgetHeaderCell2,
.BudgetCatHeaderCell2 {
    background-color: #3a3434;
    color: #ffffff !important;
    width: 100px;
    max-width: 150px;
    padding-right: 16px !important;
}

.BudgetHeaderCell,
.BudgetCatHeaderCell,
.BudgetSubCategoryHeaderCell,
.BudgetSubCategoryCell,
.BudgetHeaderCell2,
.BudgetCatHeaderCell2,
.column.middle {
    background-color: white;
    color: black !important;
}